body{
	background-color:gray;
}
div{
	border-radius:10px;
	text-align:center;
}
#container{
	width:1200px;
	margin:0 auto;
	background-color:#fffff;
	background:-webkit-linear-gradient:(#FFFFFF,#DEF2F1);
	background:-ms-linear-gradient(#FFFFFF,#84CEEB);
	background:linear-gradient(#FFFFFF,#DEF2F1);
}
#menu{
	min-height:20px;
	color:black;
	text-align:left;
	padding:10px;
}
#left-side{
	float:left;
	width:25%;/*reset to 30px*/
	min-height:300px;
	padding:5px;
	border:1px solid black;
	margin-left:10px;
	margin-right:10px;
}
#right-side{
	float:left;
	width:69%;
	min-height:300px;
	padding:10px;
	border:1px solid black;
	margin:20;
}
#footer-down{
	clear:both;
	min-height:50px;
}
h2{
	color:#fdnhjv;
	font-family:"Times New Roman",serif;
	font-size:12pt;
	text-align:left;
	font-weight:bold;
}
h5{
	text-align:center;
}
li{
	color:#000000;
	font-family:"Times New Roman",serif;
	font-size:12pt;
	text-align:left;
	font-style:italic;
}
table{
	border:1px solid black;
	margin-bottom;1em;
}
td{
	border:1px solid black;
	padding:0.1em;
	spacing:0.1em;
}
